* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url("../imagens/fundo.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
:root {
  --color-for-footer: hsla(187, 22%, 30%, 0.349);
  --color-for-title: hsla(164, 52%, 33%, 0.369);
  --color-for-menu: hsla(89, 36%, 65%, 0.365);
  --color-for-menuhover: hsla(180, 20%, 51%, 0.37);
  --color-for-setaUp: hsla(345, 5%, 66%, 0.714);
  --color-for-borda: hsl(89, 22%, 42%);
}

/* parte do header */
.container-fluid {
  width: auto;
}
.navbar {
  background-color: var(--color-for-title);
}

#contLogos {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
}
.logout {
  position: absolute;
  left: 2.25rem;
}
.menuHeader ul {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: #a7c6865d;
  margin: 0;
  padding: 0;
  gap: 1rem;
  list-style-type: none;
}

.menuHeader a {
  text-decoration: none;
  color: black;
}

/* parte do main da tela de escolher oq cadastrar agora */
.escolherCadastro {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}
.areaEscolha {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.tituloEscolha {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
  height: 38px;
}
.escolha {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}
.opcao {
  display: flex;
  align-items: center;
  gap: 10px;
}
caption {
  text-align: center;
}
/* .escolha input[type="radio"] {
    ainda nao decidi o que fazer aqui.
} */
input[type="submit"] {
  border-radius: 5px;
  width: 100px;
  height: 25px;
  border: none;
  cursor: pointer;
  background-color: #3d686873;
}

.cadastro {
  margin: 1rem 0;
  display: flex;
  justify-content: center;
}
.areaCadastro {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid;
  border-radius: 20px;
  border-color: #40957e5e;
  padding: 0 1rem;
}

fieldset {
  border: none;
}
.fieldset-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
fieldset legend {
  text-align: center;
  margin: 0;
  width: 100%;
  padding-top: 10px;
  border-bottom: 1px solid #3c515d71;
}
.input-wrapper {
  display: flex;
  flex-direction: column;
}
input[type="text"],
input[type="tel"],
input[type="password"] {
  width: 200px;
  height: 25px;
  border-radius: 5px;
  border: 1px solid #40957f;
  outline: none;
  margin-top: 5px;
}
input:focus {
   border: 1px solid #3d6868;
  box-shadow: 0 0 5px#40957e5e;
}
.areaBotoes {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  gap: 15px;
}
.areaBotoes2 {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  gap: 15px;
}
.areaBotoes3 {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  gap: 15px;
}

/* área do footer aqui */

.linhaFoot {
  border-bottom: 2px dashed var(--color-for-footer);
}

#footerIndex {
  padding: 1rem !important;
  justify-content: space-between;
  width: 100%;
  border-top: 2px dashed var(--color-for-footer);
}

.btListar {
  border: none;
  border-radius: 8px;
  width: 6.25rem;
  cursor: pointer;
  background-color: #3d686825;
}
.btListar a {
  text-decoration: none;
  color: black;
}
.btListar:hover {
  scale: 1.1;
}

@media (min-width: 52rem) {
  #footerIndex {
    width: 100%;
    justify-content: center;
    position: fixed;
    bottom: 0;
  }
}
