/* parte do main */
.login {
  display: flex;
  justify-content: center;
}
.telaLogin {
  display: flex;
  margin-top: 4rem;
  padding: 2rem 1.875rem;
  border: 3px solid;
  border-radius: 1.25rem;
  border-color: var(--color-for-title);
}
