* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Nunito", sans-serif;
  background-image: url("../imagens/fundo.png");
  background-size: cover;
}

/* parte do header */
.areaHeader {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
}
.areaTitulo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  background-color: #287e675e;
}
.areaLogos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6px;
}
.menuHeader ul {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: #a7c6865d;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* parte do main da tela de escolher oq cadastrar agora */
.escolherCadastro {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}
.areaEscolha {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.tituloEscolha {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
  height: 38px;
}
.escolha {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.opcao {
  display: flex;
  align-items: center;
}
/* .escolha input[type="radio"] {
    ainda nao decidi o que fazer aqui.
} */
input[type="submit"] {
  /* margin-top: 20px; */
  border-radius: 5px;
  width: 100px;
  height: 25px;
  border: none;
  cursor: pointer;
  background-color: #3d686873;
}

.cadastro {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.areaCadastro {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid;
  border-radius: 20px;
  border-color: #40957e5e;
  padding: 0 40px;
}
/* .tituloFormCad {
  display: flex;
  align-items: center;
  height: 45px;
} */
/* .tituloFormCad h3 {
  margin: auto;
} */
fieldset {
  border: none;
}
.fieldset-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
fieldset legend {
  text-align: center;
  margin: 0;
  width: 100%;
  padding-top: 10px;
  border-bottom: 1px solid #3c515d71;
}
.input-wrapper {
  display: flex;
  flex-direction: column;
  /* height: 50px; */
}
input[type="text"],
input[type="password"] {
  width: 200px;
  height: 25px;
  border-radius: 5px;
  border: 1px solid #40957f;
  outline: none;
  margin-top: 5px;
}
input:focus {
  border: 1px solid #3d6868;
  box-shadow: 0 0 5px#40957e5e;
}
.areaBotoes {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}
.areaBotoes2 {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  gap: 15px;
}
.areaBotoes3 {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  gap: 15px;
}

/* área do footer aqui */

footer {
  background-color: rgba(60, 89, 93, 0.349);
}
.linhaFooter {
  border-bottom: 2px dashed #a7c686;
  padding-bottom: 10px;
  margin-bottom: 0;
}
.informacoes {
  display: flex;
  justify-content: center;
}
.informacoes ul {
  display: inline-flex;
  justify-content: space-between;
  list-style-type: none;
  gap: 10px;
  padding: 0;
}
.direitos {
  margin: 0;
  text-align: center;
}
