body {
  font-family: "Nunito", sans-serif;
  background-image: url("../imagens/fundo.png");
  background-size: cover;
  margin: 0;
  padding: 0;
}
.areaHeader {
  border: 1px solid red;
}
.areaTitulo {
  position: fixed;
  width: 100%;
  background-color: #40957e5e;
  text-align: center;
}
.areaLogos {
  /* background-color: #a7c6865d; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 85px;
  padding-left: 620px;
}
.iconeLogin {
  padding-left: 500px;
}
.patinha {
  padding-left: 160px;
}

.menuHeader ul {
  /* padding-top: 1px; */
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: #a7c6865d;
  margin: 0;
  padding: 0;
  gap: 55px;
  list-style-type: none;
}
.menuHeader a {
  text-decoration: none;
  color: black;
}
.menuHeader a:hover {
  color: none;
  background-color: rgba(106, 156, 156, 0.37);
  border-radius: 4px;
}

.informacoes {
  text-align: center;
  margin: auto 80px;
}
.informacoes ul {
  list-style-type: none;
}
.informacoes li {
  display: inline;
  margin: auto 10px;
}
.direitos {
  margin: auto;
  text-align: center;
}
/* 
Paleta de cores do projeto:
.color1 { #3c515d }
.color2 { #3d6868 }
.color3 { #40957f }
.color4 { #a7c686 }
.color5 { #fcee8c } 
*/
