* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url("../imagens/fundo.png");
  background-size: cover;
  /* display: flex;
  flex-direction: column; */
  min-height: 100vh;
}
:root {
  --color-for-footer: hsla(187, 22%, 30%, 0.349);
  --color-for-title: hsla(164, 52%, 33%, 0.369);
  --color-for-menu: hsla(89, 36%, 65%, 0.365);
  --color-for-menuhover: hsla(180, 20%, 51%, 0.37);
  --color-for-setaUp: hsla(345, 5%, 66%, 0.714);
  --color-for-borda: hsl(89, 22%, 42%);
}
/* área do header */
.container-fluid {
  width: auto;
}
.navbar {
  background-color: var(--color-for-title);
}
#iconeLogin {
  position: absolute;
  right: 0;
}

/* área do main */
.p-3 {
  padding: 0rem !important;
  margin-bottom: 1rem;
}
.textos {
  padding: 1.875rem;
  text-align: justify;
}
.especialidades {
  text-align: center;
}
.bd-example-cssgrid [class*="grid"] > * {
  background-color: #eccaca11;
  border: 1px solid var(--color-border);
  cursor: pointer;
}
.g-col-12.g-col-md-4 img {
  width: 60%;
  object-fit: cover;
  border-radius: 10px;
}
.g-col-12.g-col-md-4 img:hover {
  scale: 1.05;
}
.details {
  padding: 1rem;
}
.details h2 {
  font-size: 0.8rem;
  z-index: 1;
  position: relative;
}
.tags {
  margin-top: 1.2rem;
}
.tags span {
  padding: 0.5rem;
  border-radius: 0.4rem;
  line-height: 0;
  background-color: #ada5a7b6;
  font-size: 0.8rem;
  text-transform: uppercase;
}
/* área do footer */
#footerIndex {
  padding: 1rem !important;
  justify-content: space-between;
  width: 100%;
  border-top: 2px dashed var(--color-for-footer);
}
#btn-back-to-top {
  position: fixed;
  bottom: 1.25rem;
  right: 1.25rem;
  display: none;
  opacity: 0.7;
}

@media (min-width: 64rem) {
  .carousel-inner {
    text-align: center;
    background-color: var(--color-for-menuhover);
  }
  .carousel-control-next,
  .carousel-control-prev {
    width: 40%;
  }
  #footerIndex {
    width: 100%;
    justify-content: center;
  }
  #iconeLogin {
    position: absolute;
    right: 3.25rem;
  }
}
