body {
  font-family: "Nunito", sans-serif;
  background-image: url("../imagens/fundo.png");
  background-size: cover;
  margin: 0;
  padding: 0;
}

/* parte do header */
.areaHeader {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
}
.areaTitulo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  background-color: #287e675e;
}
.areaLogos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6px;
}
.menuHeader ul {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: #a7c6865d;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* parte do main agora */
.login {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.telaLogin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  padding: 0 40px;
  border: 5px solid;
  border-radius: 20px;
  border-color: #40957e5e;
}
.tituloForm {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}
.tituloForm h3 {
  margin: auto;
}

/* partes do formulario aqui */
/* .formularioLogin {
  display: flex;
  flex-direction: column;
  justify-content: center;
 } */
input[type="text"],
input[type="password"] {
  width: 200px;
  height: 25px;
  border-radius: 5px;
  border: 1px solid #40957f;
  outline: none;
  margin-top: 5px;
}
input:focus {
  border: 1px solid #5d5966;
  opacity: 0.7;
  box-shadow: 0 0 5px#413e4a;
}
input[type="submit"] {
  border-radius: 5px;
  width: 100px;
  height: 25px;
  border: none;
  cursor: pointer;
  background-color: #3d686873;
}
.areaBotoes {
  text-align: center;
  margin: 35px 0;
}

/* área do footer aqui */
footer {
  background-color: rgba(60, 89, 93, 0.349);
}

.linhaFooter {
  border-bottom: 2px dashed #a7c686;
  padding-bottom: 10px;
  margin-bottom: 0;
}
.informacoes {
  display: flex;
  justify-content: center;
}
.informacoes ul {
  display: inline-flex;
  justify-content: space-between;
  list-style-type: none;
  gap: 10px;
  padding: 0;
}
.direitos {
  margin: 0;
  text-align: center;
}
