body {
  font-family: "Nunito", sans-serif;
  background-image: url("../imagens/fundo.png");
  background-size: cover;
  margin: 0;
  padding: 0;
}

/* parte do header */
.areaHeader {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
}
.areaTitulo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  background-color: #287e675e;
}
.areaLogos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6px;
  position: relative;
}
.iconeLogin {
  position: absolute;
  right: 50px;
}
.menuHeader ul {
  display: flex;
  justify-content: center;
  background-color: #a7c6865d;
  margin: 0;
  padding: 0;
  gap: 55px;
  list-style-type: none;
}
.menuHeader a {
  text-decoration: none;
  color: black;
}
.menuHeader a:hover {
  color: none;
  background-color: rgba(106, 156, 156, 0.37);
  border-radius: 4px;
}

/* área do footer aqui */
footer {
  background-color: rgba(60, 89, 93, 0.349);
}

.linhaFooter {
  border-bottom: 2px dashed #a7c686;
  padding-bottom: 10px;
  margin-bottom: 0;
}

.informacoes {
  display: flex;
  justify-content: center;
}
.informacoes ul {
  display: inline-flex;
  justify-content: space-between;
  list-style-type: none;
  gap: 10px;
  padding: 0;
}
.direitos {
  margin: 0;
  text-align: center;
}
/* 
Paleta de cores do projeto:
.color1 { #3c515d }
.color2 { #3d6868 }
.color3 { #40957f }
.color4 { #a7c686 }
.color5 { #fcee8c } 
*/
